<%=render partial: "sessions/background"%>

<h3 class="form-header">Sign Up</h3>

<div class="user-form">
    <%=form_for :user do |f|%>
        <%=f.text_field :name, placeholder: "Name", autocomplete: "off"%> <br><br>

        <%=f.text_field :email, placeholder: "Email", autocomplete: "off"%> <br><br>

        <%=f.password_field :password, placeholder: "Password", autocomplete: "off"%> <br><br>

        <%=f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "off"%> <br><br>

        <%=f.submit "Submit", id: "submit"%>
    <%end%>
    
    <p class="signup-login">Already a user?&nbsp; <%=link_to "Log In", login_path%></p>

    <p class="social-login"><%= link_to('Sign up with Facebook', '/auth/facebook') %></p>
</div> <br>

