<%=render partial: "sessions/background"%>

<h3 class="form-header">Sign Up</h3>

<%= render partial: "layouts/errors", locals: {object: @user} %>

<div class="user-form">
    <%=render 'form'%>
    
    <p class="signup-login">Already a user?&nbsp; <%=link_to "Log In", login_path%></p>

    <p class="social-login"><%= link_to('Sign up with Facebook', '/auth/facebook') %></p>
</div> <br>

