<%=render 'application/header'%>

<div class="user-content">
    <h1><%="#{@user.name}'s Favorites"%></h1>
    
</div>

<div class="videos">
        <%@user.categories.uniq.each do |category|%>
            
            <h3><%=category.name.upcase%></h3>
            <div class="player-category-videos">
                <%category.videos.select{|video| video.users.include?(@user)}.sort_by{|video| video.year}.reverse.each do |video|%>
                    <div class="individual-card">
                        <iframe width="426" height="240" src="https://www.youtube.com/embed/<%=video.youtube_url_parse%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <div class="captions"> 
                            <p class="video-player"><%=link_to video.player.fullname, "/players/#{video.player.slug}/videos"%></p>
                            
                            <p class="video-year"><%=video.year%></p>

                            <p class="edit"><%=link_to "edit video", "/players/#{video.player.slug}/videos/#{video.id}/edit"%></p>
                        </div><!--captions-->
                        
                        <%=button_to "/users/#{@user.slug}/videos/#{video.id}/remove", :action=>'remove' do %>
                            <p class="favorite">Remove</p>
                        <%end%>
                    </div>
                <%end%> 
            </div> <br>
        <%end%>
    </div>