<%=render 'application/header'%>

<h3 class="form-header"><%="Edit #{@player.fullname} Video"%></h3> 

<%= render partial: "layouts/errors", locals: {object: @video} %>

<%=render 'form'%> <br>

<%=link_to "/players/#{@player.slug}/videos/#{@video.id}/delete", :controller=>'videos', :action=>'destroy' do%>
    <p>delete video</p>
<%end%>