<%=render 'application/header'%>

<%=render partial: 'players/bio', locals:{player: @player}%>

<div class="video-header">
    <%=link_to "Videos", "/players/#{@player.slug}/videos", class: "match-link current-page"%>

    <%=link_to "Matches", "/players/#{@player.slug}/matches", class: "second-link" %>

    <%if is_admin?%>
        <%=link_to "/players/#{@player.slug}/videos/new", :controller=>'videos', :action=>'new' do%>
            + Add Video
        <%end%>
    <%end%>
</div>

    <div class="videos">
        <h4><i><%=@player.videos_count%> Videos  </i></h4>
        <%@player.videos_sorted_by_categories.each do |category|%> <!--method in application_record.rb-->
            
            <h3><%=category.name_upcase%></h3>
            <div class="player-category-videos">
                <%category.videos_by_player_ordered_by_most_recent(@player).each do |video|%>
                    <div class="individual-card">
                        <iframe width="495" height="300" src="https://www.youtube.com/embed/<%=video.youtube_url_parse%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <p class="video-year"><%=video.year%></p>
                        <%if is_admin?%>
                            <p class="edit"><%=link_to "edit video", "/players/#{@player.slug}/videos/#{video.id}/edit"%></p>
                        <%else%> <!-- to keep spacing the same for non-admin user -->
                            <p class="edit-hidden"><%=link_to "edit video", "/players/#{@player.slug}/videos/#{video.id}/edit"%></p>
                        <%end%>
                        
                        <%if video.favorited_by_user?(@user)%>
                            <%=button_to "/players/#{@player.slug}/videos/#{video.id}/remove", class: "favorited-button", :action=>'remove' do %>
                                <p class="favorited">Favorited</p>
                            <%end%>
                        <%else%>
                            <%=button_to "/players/#{@player.slug}/videos/#{video.id}/favorite", class: "regular-button", :action=>'favorite' do %>
                                <p class="favorite-video">Favorite</p>
                            <%end%>
                        <%end%>
                    </div> <!--individual card-->
                <%end%> 
            </div> <!--player-category-videos-->
        <%end%>
    </div>

</div> <!--video-section-->