<div class="fixed-bio">

    <h1><%=@player.fullname%></h1> 

    <%=image_tag @player.player_image%> <br><br>

    <div class="player-country">
       <%=image_tag @player.country.flag_image, class: "show-flag"%> 
       <p><%=@player.country.name%></p>
    </div>

    <div class=player-details>
        <div class="first_row">
            <p><b>Age</b>: &nbsp;<%=@player.age%> &nbsp; | &nbsp;</p>
            <p><b>Height</b>: &nbsp;<%=@player.feet%>'<%=@player.inches%>" </p> 
        </div>
        <p><b>Handedness</b>: &nbsp;<%=@player.handedness.name%> </p>
        <p><b>Forehand</b>: &nbsp;<%=@player.forehand_grip.name%></p>
        <p><b>Backhand</b>: &nbsp;<%=@player.backhand_type.name%></p>
        <p><b>Play Style</b>:&nbsp; <%=@player.styles.uniq.map {|style| style.name}.join(", ")%></p>
    </div>

    <%if is_admin?%>
        <%=link_to "/players/#{@player.slug}/edit" do%>
            <p class="edit">edit player profile</p>
        <%end%> <br><br>
    <%end%>

</div>

