<div class="fixed-bio">

    <h1><%=@player.fullname%></h1> 

    <%=image_tag @player.player_image%> <br><br>

    <div class="player-country">
       <%=image_tag @player.country.flag_image, class: "show-flag"%> 
       <p><%=@player.country.name%></p>
    </div>

    <div class=player-details>
        <p>Age: <%=@player.age%></p>
        <p>Height: <%=@player.feet%>'<%=@player.inches%>"</p> 
        <p><%=@player.handedness.name%></p>
        <p>Forehand: <%=@player.forehand_grip.name%></p>
        <p>Backhand: <%=@player.backhand_type.name%></p>
    </div>

    <%=link_to "/players/#{@player.slug}/edit" do%>
        <p class="edit">edit player profile</p>
    <%end%> <br><br>

</div>

