<div class="new-player-form">
    <%=form_for :player do |f|%>
        <h3 class="form-header">Add Player</h3>
        <p class="input-type">First Name</p>
        <%=f.text_field :first_name, class: "input-field", placeholder: "First Name"%> <br><br>

        <p class="input-type">Last Name</p>
        <%=f.text_field :last_name, class: "input-field", placeholder: "Last Name"%> <br><br>

        <p class="input-type">Sex</p>
        <%=f.collection_select :sex_id, Sex.all, :id, :name, class: "input-field", include_blank: "Select Sex"%> <br><br>

        <p class="input-type">Birth Date</p>
        <%=f.date_field :birthdate, class: "input-field", placeholder: "MM/DD/YYYY"%> <br><br>

        <!--<p class="input-type">Country</p>
        <%=f.country_select :country, class: "input-field", include_blank: "Select Country"%> <br><br>-->

        <p class="input-type">Height</p>
        <%=f.number_field :feet, class: "input-field-height", placeholder: "ft"%>&nbsp;'&nbsp;
        <%=f.number_field :inches, class: "input-field-height", placeholder: "in"%>&nbsp;" <br><br>

        <p class="input-type">Handedness</p>
        <%=f.collection_select :handedness_id, Handedness.all, :id, :name, class: "input-field", include_blank: "Select"%> <br><br>

        <p class="input-type">Forehand Grip</p>
        <%=f.collection_select :forehand_grip_id, ForehandGrip.all, :id, :name, class: "input-field", include_blank: "Select Forehand"%> <br><br>

        <p class="input-type">Backhand Type</p>
        <%=f.collection_select :backhand_type_id, BackhandType.all, :id, :name, class: "input-field", include_blank: "Select Backhand"%> <br><br>

        <p class="input-type">Player Photo</p>
        <%=f.file_field :player_image, class: "image-upload"%><br><br><br>

        <%=f.submit 'Submit'%><br><br><br>

    <%end%>
</div>